.commander-panel {
  flex 0 0 50%;
  height 100%;
  border 2px solid transparent;

  & > .file {
    &.focused {
      background blue;
      color white;
    }
  }

  &.focused {
    border-color blue;
  }
}