.commander-panel {
  flex 0 0 50%;
  height 100%;
  //width 100%;
  display flex;
  overflow hidden;
  flex-direction column;
  //border 2px solid transparent;

  & > .path {
    flex 0 0 auto;
    padding 0 0 0 10px;
    font-size: 12px;
    border-bottom 1px solid #c9c9c9;
  }

  & > .files {
    flex 1 1;
    height 100%;
    width 100%;
    overflow: auto;
    & > .file {
      font-size: 12px;
      font-weight 500;
      cursor default;
      no-select();
      padding 0 0 0 33px;
      position relative;
      ellipsis();
      width 100%;

      & > .icon {
        position: absolute;
        top: 0;
        left: 10px;
        height 14px;
      }

    }
  }

  &.focused {
    & > .files > .file.focused {
      background blue;
      color white;
    }
  }
  &:not(.focused) {
    & > .files > .file.focused {
      background #cfdaf2;
    }
  }
}