body {
  font-family 'Libre Franklin', Arial, sans-serif;
  -ms-overflow-y: auto !important;
}

input, textarea, keygen, select, button {
  font-family: 'Libre Franklin',Arial,sans-serif;
}
body, html {
  margin 0;
  background #F2F2F2;
  height 100%;
}


#app-container {
  height 100%;
}

* {
  box-sizing border-box;
}


a {
  cursor pointer;
  color color-green
  //text-decoration: none !important

  &:hover {
    color: #a4d56d;
  }

  &:disabled {
    cursor default;
  }
}