.modal-dialog {
  .modal-box {
    min-height 100%;

    @media (min-width 640px) {
      min-height 275px
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .modal-header {
      padding 5px 10px 7px 10px;
      border-bottom 1px solid #E6E6E6;

      @media (min-width 640px) {
        padding 27px 20px 7px 24px;
      }

      .modal-title {
        font-size 29px;
        color: #686868;

        @media (min-width 640px) {
          font-size 32px;
        }
      }
    }

    .modal-footer {
      position relative;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 68px;

      @media (min-width 640px) {
        display flex
        justify-content: flex-end;
        padding-right: 30px;
        padding-bottom: 30px;
      }

      .btn {
        padding: 15px 36px;
        border-radius: 3px;
        font-size: 20px;
        display block;
        width 100%

        @media (min-width 640px) {
          width auto;
          font-size: 22px;
        }

        &.btn-cancel {
          position absolute;
          bottom 0;
          width calc(100% - 20px);

          margin-right: 5px;
          background: #fff;
          border: 2px solid #e6e6e6;
          color: #666666;

          &:hover {
            background-color  #f8f8f8
          }

          @media (min-width 640px) {
            width auto;
            position static;
          }
        }
      }
    }
  }


  &.modal-sm {
    .modal-box {
      @media (min-width 960px) {
        width 400px;
      }
    }
  }

  &.modal-md {
    .modal-box {
      @media (min-width 960px) {
        width 700px;
      }
    }
  }
    
  &.modal-lg {
    .modal-box {
      @media (min-width 960px) {
        width 700px;
      }
    }
  }
}